:root {
    --bg-body: #fdfcf0;
    --bg-header: #000000;
    --bg-nav: #f5f2f0;
    --text-color: #242424;
}

html {
    background-color: var(--bg-header);
}

body {
    background-color: var(--bg-body);
    height: 200vh;
}

/* CSS do Cabeçalho */
header {
    background-color: var(--bg-header);
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 998;
}

header button {
    font-size: 2.5rem;
    padding: 0 10px;
    background-color: var(--bg-header);
    color: var(--bg-body);
    border: none;
}

header button:active {
    transform: scale(0.9);
    transition: 0.1s;
}

header h1 {
    color: var(--bg-body);
    font-family: "Oswald", sans-serif;
    font-size: 2.5rem;
    font-weight: 700;
}

header h1::before{
    content: "JCP";
}

#header_logo {
    height: 60px;
}

/*CSS do Menu*/
nav {
    display: flex;
    flex-direction: column;
    background-color: var(--bg-nav);
    color: var(--text-color);
    position: fixed;
    height: 100vh;
    top: 60px;
    width: 180px;
    border-right: 1px solid rgba(0,0,0,0.05);
    z-index: 999;
    left: -180px;
    transition: left 0.3 ease;
}

nav.open {
    left: 0;
}

#side_items {
    display: flex;
    flex-direction: column;
    padding: 10px 0;
    gap: 5px;
    list-style: none;
    margin: 0;
}

.side_item {
    cursor: pointer;
    width: 100%;
    display: flex;
    justify-content: center;
}

.side_item a {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 12px 20px;
    text-decoration: none;
    color:var(--text-color);
    font-size: 1rem;
    border-radius: 30px;
    width: 95%;
    transition: 0.2s;
}

.side_item a:hover {
    background-color: rgba(0, 0, 0, 0.05);
    color: var(--bg-header);
}

.side_item.active a{
    background-color: var(--text-color);
    color: var(--bg-nav);
    font-weight: 600;
}

.side_item i {
    font-size: 1.2rem;
    width: 24px;
    text-align: center;
}

/*CSS do Conteúdo Principal*/
main {
    background-color: var(--bg-body);
    display: flex;
    flex-direction: column;
    padding-top: 80px;
    align-items: center;
}

.container {
    width: 90vw;
    max-width: 500px;
    aspect-ratio: 4/5;
    background-color: #fff;
    border-radius: 20px;
    border: 1px solid rgba(0, 0, 0, 0.05);
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.08);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    position: relative;
}

.news-bg {
    object-fit: cover;
    z-index: 1;
}

.news-cover {
    z-index: 2;
    width: 90%;
    background-color: #c9430acc;
    color: white;
    position: absolute;
    bottom: 30px;
    border-radius:0 5px 5px 0;
    padding-left: 5px;
    line-height: 1.5;
}

@media (min-width: 768px) {
    header h1::before{
        content: "Jornal CP"
    }
}

@media (min-width: 1024px) {
    header h1::before{
        content: "JCP - Jornal Colégio Professores"
    }
}